extends ../layouts/default
block content
  body
    .container(style='font-size:1.5em;margin-left:15%;margin-right:15%;')
     .alert.alert-info
       strong Info!
       |	Click on Launch to send the client.call
       |	([method],[parameters],[callback: default callback send back the results/error in response window ]) 

     .col-md-6 
      .panel.panel-default
       .panel-heading 
         h3 Enter RPC Values:
       .panel-body
         if form
          - var _rpc_host= form.rpc_host 
          - var _rpc_port= form.rpc_port
          - var _rpc_method= form.rpc_method
          - var _rpc_args1= form.rpc_args1
          - var _type1= form.type1
          - var _rpc_args2= form.rpc_args2
          - var _type2= form.type2
          - var _rpc_args3= form.rpc_args3
          - var _type3= form.type3
          
         form(action='/call', method='post')
          .container-fluid
           center
            button.btn.btn-primary.btn-lg(type='submit', style='width:50%;') Launch RPC Call
            br
            p
           fieldset.form-group
             label(for='rpc_host') RPC2-Client Host:
             input#rpc_host.form-control(type='text', name='rpc_host', placeholder='Enter your rpc-client host here', value=_rpc_host)
             small.text-muted Default: localhost
           fieldset.form-group
             label(for='rpc-port') RPC2-Client Port:
             input#rpc_port.form-control(type='text', name='rpc_port',placeholder='Enter your rpc-client port here', value=_rpc_port)
             small.text-muted Default: 80
           fieldset.form-group
             label(for='rpc_method') RPC2-Client Method:
             input#rpc_method.form-control(type='text', name='rpc_method',placeholder='Enter your rpc-client method to call', value=_rpc_method)
             small.text-muted Required
           .container-fluid
            .col-md-6
             fieldset.form-group
               label(for='rpc_args1') RPC2-Client Parameters 1:
               input#rpc_args1.form-control(type='text', name='rpc_args1',placeholder='Enter your first parameter rpc-client (string or json format)', value=_rpc_args1)
               small.text-muted Required
             fieldset.form-group
               label(for='type1') Type
               select#type1.form-control
                 option String(default)
                 option Integer
                 option Float
                 option Boolean
                 option function
            .col-md-6
             fieldset.form-group
               label(for='rpc_args2') RPC2-Client Parameters 2:
               input#rpc_args2.form-control(type='text', name='rpc_args2',placeholder='Enter your first parameter rpc-client (string or json format)', value=_rpc_args2)
               small.text-muted Optional
             fieldset.form-group
               label(for='type2') Type
               select#type2.form-control
                 option String(default)
                 option Integer
                 option Float
                 option Boolean
                 option function
           fieldset.form-group
             label(for='rpc_args3') More parameters: 
             input#rpc_args3.form-control(type='text', name='rpc_args3', placeholder='Separate your parameters with ~. Each args will be included in the client.call', value=_rpc_args3)
             small.text-muted Optional  
           fieldset.form-group
             label(for='type3') Type (one type for additional parameter, i will add dynamic number of args later)
             select#type3.form-control
               option String(default)
               option Integer
               option Float
               option Boolean
               option function
           .radio
             label
               input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
               |       Option one 
           .radio
             label
               input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
               |       Option two 
           .radio.disabled
             label
               input#optionsRadios3(type='radio', name='optionsRadios', value='option3', disabled='')
               |       Option three is disabled
           .checkbox
             label
               input(type='checkbox')
               |  Check me out

     .col-md-6 
      .panel.panel-default
       .panel-heading 
         h3 json-rpc2 javascript call :
       .panel-body(style='color:grey;')
        h4 RPC2-Client:
        if client
          p=client
        h4 RPC2-Call:
        if call
          p=call

     .col-md-6 
      .panel.panel-default
       .panel-heading
         h3 Response:
         if status == "_DEFAULT" 
           span.label.label-default Waiting for Call
         if status == "_SUCCESS"
           span.label.label-success Success 200 Ok
         if status == "_REFUSED"
           span.label.label-warning 401 Refused
         if status == "_ERROR"
           span.label.label-danger 404 Error
       .panel-body(style='color:grey;')
        .container-fluid(style='color:blue;')
          if message
            p=message
            hr
        if callback
          p=callback
          hr
        p=results

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/js/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')
